  h1, h2, h3, p, li {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: white;
    text-shadow: -2px 2px #ef3550,
                 -4px 4px #f48fb1,
                 -6px 6px #7e57c2,
                 -8px 8px #2196f3,
                 -10px 10px #26c6da,
                 -12px 12px #43a047,
                 -14px 14px #eeff41,
                 -16px 16px #f9a825,
                 -18px 18px #ff5722;
  }
  
  hr {
    color: red;
    height: 8px;
    background-color: red;
  }

  body {
    background-color: black;
  }